.body{
    color: rgb(129, 189, 212);
}
.titulo1{
    color: red;
}
.titulo2{
    color: rgb(216, 93, 21);
}
.titulo3{
    color: rgb(202, 183, 14);
}
.avance{
    color: rgb(5, 70, 48);
}
.soporte{
    color: royalblue;
}
.encabezado{
    color: blueviolet;
}
.sitio{
    color: crimson;
}